<% if @errors.any? %>
  <div class="alert alert-danger" role="alert">
    <strong>Something went wrong! :O :</strong>
    <!-- change this so only an @errors array is passed in -->
      <% @errors.each do |user| %>
        <p><%= user %></p>
      <% end %>
  </div>
<% end %>
