<button  class=" secondary-content btn-floating waves-effec waves-light grey" type="submit" value="Favourite" title="Click to favourite this organization"> <i class="material-icons">grade</i> </button>

<input type="hidden" name='organization_id' value='<%= organization.id %>'> 