<button  class=" secondary-content btn-floating waves-effec waves-light red" type="submit" value="Favourite"> <i class="material-icons">grade</i> </button>

<input type="hidden" name='organization_id' value='<%= organization.id %>'> 