<div class="form-group">
  <input type="text" name="title" class="form-control" placeholder="Title" value='<%= @opportunity && @opportunity.title %>'>
</div>
<div class="form-group">
  <input type="text" name="content" class="form-control" placeholder="Description" value='<%= @opportunity && @opportunity.content %>'>
</div>
<button type="submit" class="btn btn-default">Post</button>
