<% if request.fullpath == '/organizations/opportunities' %>
  <div class="card-action"> 
    <a href='/organizations/opportunities/<%=opportunity.id%>/edit'> 
      <i class="small material-icons indigo-text" title="Click to Edit">edit</i>
    </a> 
    <a href='/organizations/opportunities/<%=opportunity.id%>/delete'> 
      <i class="small material-icons indigo-text" title="Click To Delete">delete</i>
    </a>
  </div>
<%else %>
  <h4 class="center indigo-text"><%= opportunity.title %></h4>
  <p class="psize center"><%= opportunity.content %></p>
  <div class="oppcardcenter"> 
    <img class="activator" src="/images/cardpic.jpg" > 
  </div>
<%end%>
