<h4><%= opportunity.title %></h4>
<p><%= opportunity.content %></p>
<% if current_org? %>
  <a href='/organizations/opportunities/<%=opportunity.id%>/edit'> Edit opportunity </a>
  <a href='/organizations/opportunities/<%=opportunity.id%>/delete'> Delete opportunity </a>
<% end %>
