<% opportunties = Opportunity.where(organization_id: @organization.id) %>
<% opportunties.each do |opportunity| %>
  
   <h3> <a href= '/organizations/opportunities/<%= opportunity.id %>' > <%= opportunity[:title] %> </a> </h3>
   <p><%= opportunity[:content] %></p>

<% end %>