<div> 
  <h5><a href="/organizations/<%= organization.id %>" > <%= organization.name %> </a></h5>
  <p><strong> Email: </strong> <%= organization.email %></p> 
  <% if organization.phone_number %>
    <p> <strong> Phone Number: </strong> <%= organization.phone_number %> </p>
  <% end %>
</div>  