  <ul class="collection">
    <li class="collection-item avatar">
      <img src="images/yuna.jpg" alt="" class="circle">
      <h5>
        <a href="/organizations/<%= organization.id %>" > <%= organization.name %> </a> 
      </h5>
      <p>Email: <%= organization.email %> <br>
        <% if organization.phone_number %>
          Phone Number: <%= organization.phone_number %>
        <% end %>
      </p>
      
    </li>