.profile-name {
  display: block;
  margin-top: 10px;
}

.profile-image.resize {
  max-width: 10%; /* you can use % */
  height: auto;
  display: block;
}

.profile-box {
  background-color: #F8F8F8;
  margin-right: 10px;
  border-radius: 5px;
}

.profile-link {
  background-color: #F8F8F8;
  margin-right: 10px;
  border-radius: 5px;
  height: 7em;
}

.format {
  margin-left:10px;
}

.vertical-space-format {
  text-size:4px;
}

.form-login {
  margin: auto;
  width: 30em;
}

.entire-login-page {
  text-align: center;
  margin-top: 15em;
}

.bar-space {
  padding-left: 1em;
}

.bgimg {
  background-image: url('/images/shutterstock-volunteer-1286x334.jpg');
  background-position: center center, center top;
  background-repeat: no-repeat;
  /*background-size: cover;*/
  min-height: 334px;
  box-shadow: 0px 0px 20px 0px #888888;
  position: relative;
  z-index: -1;
}

.home-login {
  padding: 2em;
}

.promo {
  padding:  0em 1em 0em 1em;
}

/*For Sticky Footer*/
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

/* logo text effect */
.logo-effect
{
  font-family: 'Sansita One', cursive;
  color: #9900CC;
  text-shadow: rgb(204, 204, 204) 1px 1px 0px, rgb(204, 204, 204) 2px 2px 0px, rgb(68, 68, 68) 3px 3px 0px, rgb(68, 68, 68) 4px 4px 0px, rgb(68, 68, 68) 5px 5px 0px, rgb(68, 68, 68) 6px 6px 0px;
}