.profile-name {
  display: block;
  margin-top: 10px;
}

.profile-image.resize {
  max-width: 10%; /* you can use % */
  height: auto;
  display: block;
}

.profile-box {
  background-color: #F8F8F8;
  margin-right: 10px;
  border-radius: 5px;
}

.profile-link {
  background-color: #F8F8F8;
  margin-right: 10px;
  border-radius: 5px;
  height: 7em;
}

.format {
  margin-left:10px;
}

.vertical-space-format {
  text-size:4px;
}

.form-login {
  margin: auto;
  width: 30em;
}

.entire-login-page {
  text-align: center;
  margin-top: 15em;
}

.bar-space {
  padding-right: 10em;
}

.font {
  font-size: 1.5em;
}

.name {
  display: relative;
}

.contain {
  margin-top: 4em;
  margin-left: 15em;
  width: 30em;
  display: inline-block;
}

.center {
  margin-left: 5em;
  margin-right: 6em;
}