<div class="container">
  <h2>Edit Opportunity</h2>
  <%= erb :'partials/_errors' %>
  <form method="post" action="/organizations/opportunities/<%=@opportunity.id%>/edit">
    <%= erb :'partials/_form' %>
  </form>
</div>