<% if current_student? %>
  <h1 class="center dark-grey-text">My Opportunities</h1>
<% elsif current_org? %>
  <h1 class="center dark-grey-text"> Our Opportunities</h1>
  <h5>
    <a class="btn-floating btn-large waves-effect waves-light red" href = '/organizations/opportunities/new'>
      <i class="small material-icons" title="Add New Opportunity">add</i>
    </a>
    <strong> Add A New Opportunity </strong>
  </h5>
<% end %>

<% if @opportunities.any? %>
    <% @opportunities.each do |opportunity| %>
      <div class="contain">
        <ul class="collection card small z-depth-5">
          <%= erb :'partials/_opportunities', locals: { opportunity: opportunity } %>
        </ul>
      </div>
    <% end %>
<% else %>
    <h3>No current opportunities</h3>
<% end %>
