<%= erb :'partials/_errors' %>

<h1> Registered Organizations</h1>  

<% @organizations.each do |organization| %>

  <%= erb :'/partials/_show_organization', locals: { organization: organization } %>

  <% if current_student? %>
    <form method="post" action="/favourite">

      <% if @student_favs.include?(organization.id) %>
        <%= erb :'partials/_unfavourite_button', locals: { organization: organization } %>
      <% else %>
        <input  class="btn btn-success" type="submit" value="Favourite">
        <input type="hidden" name='organization_id' value='<%= organization.id %>'> 
      <% end %>
    
    </form>
  <% end %>
<% end %>

  