<footer class='page-footer'>
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Company Bio</h5>
        <p class="grey-text text-lighten-4">We are a team of dedicated programmers fighting for truth, justice, and the Lighthouse way. 
        <br>By day, we code. 
        <br>By night, we code some more.</p>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Contact Us</h5>
        <table class="white-text">
          <tbody>
            <tr>
              <td>Abhi</td>
              <td>abhi@gmail.com</td>
            </tr>
            <tr>
              <td>Raees</td>
              <td>raees@gmail.com</td>
            </tr>
            <tr>
              <td>Yi An</td>
              <td>yian@mgmail.com</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</footer>