<!-- Promo -->
<div class="container">
  <div class="row">
    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center"><i class="material-icons medium">search</i></h2>
        <h5 class="center">Find</h5>
        <p class="center light">Find the right organization for you!</p>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center"><i class="material-icons medium">star_border</i></h2>
        <h5 class="center">Follow</h5>
        <p class="center light">Keep up-to-date with your favourite non-profits!</p>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center"><i class="material-icons medium">people_outline</i></h2>
        <h5 class="center">Connect</h5>
        <p class="center light">Connect to volunteer opportunities!</p>
      </div>
    </div>
  </div>
</div>
