<h1>Home Page</h1>
<h2>Student</h2>
<a href='students/session'>login</a>
<a href='students/register'>register</a>

<h2>Organization</h2>
<a href='organizations/session'>login</a>
<a href='organizations/register'>register</a>