<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    application.css is where you put your styles
  -->

  <link rel="stylesheet" href="/stylesheets/application.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">

 


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
   <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
  <script src="/javascript/application.js"></script>

  <title></title>
</head>
<body>
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="/organizations">Browse organizations</a></li>
    <li class="divider"></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo"> <span>&#160;&#160;&#160;V_Connect </span></a>
  <%if current_student? %>
      <form method="get" action="/organizations/search">
        <div class="input-field">
          <ul id="nav-mobile"class="right hide-on-med-and-down">
          <li><a href="/students/profile"> <span class="font"> <%= session_name %> <span> </a></li>
          <!-- Dropdown Trigger -->
          <li> <input id="search" type="search" name="keyword" placeholder="Search for organization" required></li>
          <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons right">&#9776;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</i></a></li>
          </ul>
        </div>
      </form>

<%elsif current_org? %>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form class="navbar-form navbar-left" role="search" method="get" action="/students/search">
          <div class="form-group">
            <input type="text" name="keyword" class="form-control" placeholder="Search for students">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li class="navbar-default navbar-fixed-static "> 
            <a href="/organizations/profile" role="button"> 
              <span> <%= session_name %> </span>  
            </a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/logout">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
<%end%>
      </div><!-- /.container-fluid -->
  </nav>

  <%= yield %>
</body>
</html>
